/* 
01 - Typography system 

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Font weigths:
Default: 400

Line heights:
Default: 1

02 - Color system
- Primary: #e67e22

- Tints:

- Shades:

- Accents:

- Greys:
#555
#333

03 - Shadows

04 - Border radius

05 - Whitespace
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  font-weight: 700;
  color: #333;
}

.hero-img {
  width: 100%;
}
